<a href="car/{{this._id}}" class="text-decoration-none">
    <div class="card car-card border border-white mt-3 mb-3" style="width: 220px;">
        <img src="{{this.icon}}" class="card-img-top" alt="{{this.name}}'s image">
        <div class="card-body text-center">
            <h5 class="card-title text-white">{{this.name}}
                <span class="text-danger">{{this.likes}}<i class="bi bi-heart-fill text-danger fs-6"></i></span>
            </h5>
        </div>
    </div>
</a>